h1 {
  text-align: centered;
}
.home-page {
  background-color: palegoldenrod;
}
.about-page {
  background-color: palegoldenrod;
}
.contact-page {
  background-color: palegoldenrod;
}
footer {
  text-align: center;
  justify-content: space-evenly;
}
